{% extends "layout.html" %}

{% block content %}
<div class="jumbotron" style="background: #C9D6FF; background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);background: linear-gradient(to right, #E2E2E2, #C9D6FF)">
  <h1 class="display-4" style="font-family:MS; color:#141E30">¡BIENVENIDO!</h1>
  <p class="lead">Registra tus datos de forma rápida y segura.</p>
  <hr class="my-4">
  <p>¡Únete a nuestra comunidad educativa en línea!</p><br>
  <a class="btn btn-primary btn-lg" href="{{url_for('registro_inst')}}" role="button" align="center" style="font-family:MS">Regístrate ahora</a>
</div>
{% endblock %}
