{% extends "layout.html" %}

{% block content %}
	<div class="jumbotron jumbotron-fluid" style="background: #C9D6FF; background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);background: linear-gradient(to right, #E2E2E2, #C9D6FF)">
	  <div class="container">
	    <h3 class="display-4" style="font-family:MS">Asegúrate de:</h3><br>
	    <hr class="my-6">
	    <ol type="text">
	    	<li>Completar los campos con tu información personal, académica y de contacto.</li>
	    	<li>Verificar que los datos ingresados sean correctos antes de enviar el formulario.</li>
	    	<li>Dar clic en el botón de "Registrase" para finalizar el proceso.</li>
	    </ol><br>
	    <a class="btn btn-primary btn-lg" href="{{url_for('registrar')}}" role="button" style="font-family:MS">Comenzar registro</a>
	  </div>
	</div>
{% endblock %}