{% extends "layout.html" %}

{% block content %}

	<div class="jumbotron jumbotron-fluid" style="background: #C9D6FF; background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);background: linear-gradient(to right, #E2E2E2, #C9D6FF)">
	  <div class="container">
	    <h1 class="display-7" align="center" style="font-family:MS"><strong>Sobre Nosotros<strong></h1><br>
	    <hr class="my-4"><br><br>
	    <h6 align="center" style="font-family:MS">¿Quiénes somos?</h6>
	    <hr class="my-4" width="300px">
	    <p class="lead" align="center">Somos una plataforma dedicada a facilitar<br>
	    el proceso de registro de estudiantes en<br>
	    instituciones educativas.</p><br><br>
	    <h6 align="center" style="font-family:MS">Misión</h6>
	    <hr class="my-4" width="300px">
	    <p class="lead" align="center">Nuestra misión es ayudar a las universidades<br>
	    a simplificar y agilizar sus procesos de<br>
		registro de estudiantes de forma rápida y<br>
	sencilla.</p>
	  </div>
	</div>

{% endblock %}