{% extends "layout.html" %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="background: #C9D6FF; background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);background: linear-gradient(to right, #E2E2E2, #C9D6FF)">
  <div class="container">
    <h1 class="display-7" align="center" style="font-family:MS"><strong>Términos y Condiciones</strong></h1><br>
    <hr class="my-4"><br><br>
    <p class="lead" align="center">Términos y Condiciones de Registro Estudiantil:</p><br>
		<ol type="text" align="justify">
	    	<li>Aceptación de los términos: Al utilizar este sitio web, usted acepta
	    	cumplir con estos términos y condiciones. Si no está de acuerdo con alguna
	    	parte de estos términos, por favor absténgase de utilizar el sitio.
	    	</li>
	    	<li>Registro de estudiantes: Para acceder a ciertas funciones del sitio,
	    	es posible que se requiera que los estudiantes se registren proporcionando
	    	información personal como nombre, dirección de correo electrónico, entre
	    	otros datos. La información proporcionada debe ser veraz y actualizada.
	    	</li>
	    	<li>Uso de la información: La información recopilada durante el proceso de registro será utilizada exclusivamente para fines relacionados con la gestión académica y administrativa del estudiante en la base de datos.
	    	</li>
	    	<li>Seguridad de la información: Nos comprometemos a proteger la información
	    	personal de los estudiantes mediante medidas de seguridad adecuadas para
	    	evitar accesos no autorizados, pérdidas o alteraciones de datos.
	    	</li>
	    	<li>Responsabilidad del Usuario: Los estudiantes son responsables de mantener la confidencialidad de sus credenciales de acceso al sitio web y de notificar cualquier uso no autorizado de su cuenta.
	    	</li>
	    	<li>Derechos de Propiedad Intelectual: Todos los contenidos del sitio web, incluyendo textos, imágenes, logotipos y diseño gráfico, están protegidos por derechos de propiedad intelectual y no pueden ser utilizados sin autorización.
	    	</li>
	    	<li>Modificaciones: Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Se recomienda revisar periódicamente esta sección para estar al tanto de cualquier cambio.
	    	</li>
	    </ol><br>
	   <p class="lead" align="justify">	Al utilizar este sitio web, usted acepta cumplir con estos términos y condiciones. En caso de tener alguna duda o inquietud, por favor contáctenos a través de los canales indicados en el sitio web.</p>
  </div>
</div>
{% endblock %}